
.about-img{
    height: 200px;
}

.maintitle{
    max-height: 400px;
}

.footer{
    margin-bottom: 0;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

